.cover__link {
    position: relative;
    text-decoration: none;
    display: block;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: 100% 100%;
    max-width: 1184px;
    color: inherit;
    padding: 33px 16px;
    z-index: 1;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    }

.cover__link:hover::after {
    opacity: 0.8;
    }

@media (min-width: 650px) {
    .cover__link {
        padding: 115px 0;
        margin: 0 auto;
    }
}

@media (min-width: 950px) {
    .cover__link {
        padding: 195px 0;
    }
}

@media (min-width: 1150px) {
    .cover__link {
        padding: 245px 0;
    }
}