.cover__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 16px auto auto;
    max-width: 288px;
}

@media (min-width: 650px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
        margin: 32px auto auto;
    }
}