.header {
    justify-content: space-between;
    margin: 16px 16px 0 16px;
    display: flex;
}
@media (min-width: 650px) {
    .header {
        margin: 28px 24px 0;
    }
}

@media (min-width: 950px) {
    .header {
        margin: 28px 48px 0;
    }
}