.header {
    max-width: 1184px;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    display: flex;
}
@media (min-width: 650px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media (min-width: 950px) {
    .header {
        padding: 28px 48px 0;
    }
}

@media (min-width: 1280px) {
    .header {
        padding: 28px 0 0;
        margin: 0 auto;
    }
}