.intro {
    max-width: 425px;
    text-align: left;
    padding: 0 16px;
    
}

@media (min-width: 425px) {
    .intro {
        padding: 0 24px;
        max-width: 720px;
    }
}

@media (min-width: 768px) {
    .intro {
        max-width: 690px;
        padding: 0 48px;
    }
}

@media (min-width: 768px) {
    .intro {
        padding-left: 148px;
    }
}