.intro {
    max-width: 425px;
    text-align: left;
    margin: 0 16px;
    
}

@media (min-width: 650px) {
    .intro {
        margin: 0 24px;
        max-width: 720px;
    }
}

@media (min-width: 950px) {
    .intro {
        max-width: 690px;
        margin: 0 48px;
    }
}

@media (min-width: 1200px) {
    .intro {
        margin-left: 148px;
    }
}